{% extends 'base.html' %}
{% load static %}


{% block content %}

<div id="carouselExampleSlidesOnly" class="carousel slide mt-2" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="height: 400px;" src="{% static 'img/home/kkk.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img style="height: 400px;" src="{% static 'img/home/renjani.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img style="height: 400px;" src="{% static 'img/home/renjani1.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <div class="container">
      <h1 class="text-center mt-5">Tentang kami</h1>
      <div class="garis mx-auto mb-5"></div>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima facere tempora asperiores excepturi ab illo at ut! Illo voluptatum veritatis ab incidunt explicabo repellat? Ab ipsam nostrum molestias dolore nisi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Non doloremque fugiat debitis adipisci alias nihil! Voluptas, temporibus molestiae? Laborum autem ex deserunt porro iste fuga adipisci ipsa provident possimus? Corrupti.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima facere tempora asperiores excepturi ab illo at ut! Illo voluptatum veritatis ab incidunt explicabo repellat? Ab ipsam nostrum molestias dolore nisi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Non doloremque fugiat debitis adipisci alias nihil! Voluptas, temporibus molestiae? Laborum autem ex deserunt porro iste fuga adipisci ipsa provident possimus? Corrupti.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima facere tempora asperiores excepturi ab illo at ut! Illo voluptatum veritatis ab incidunt explicabo repellat? Ab ipsam nostrum molestias dolore nisi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Non doloremque fugiat debitis adipisci alias nihil! Voluptas, temporibus molestiae? Laborum autem ex deserunt porro iste fuga adipisci ipsa provident possimus? Corrupti.</p>
  </div>
    
{% endblock content %}
    